# Ignore everything
*

# Except repo files
!.gitignore
!README.md
!LICENSE

# Zsh
!.zshrc
!.zsh_aliases
!help.sh

# Packages Backup
!.backups/
!.backups/backup.sh

# Config folder
!.config/

# Claude code
!.claude/
!.claude/scripts/
!.claude/scripts/context-bar.sh

# Fastfetch
!.config/fastfetch/
!.config/fastfetch/**

# Ghostty
!.config/ghostty/
!.config/ghostty/**

# Hypr
!.config/hypr/
!.config/hypr/**
hyprpaper.conf

# Mako
!.config/mako/
!.config/mako/**

# Nvim
!.config/nvim/
!.config/nvim/**

# Oh my posh
!.config/ohmyposh/
!.config/ohmyposh/**

# Opencode
!.opencode/
!.opencode/AGENTS.md

# Rofi
!.config/rofi/
!.config/rofi/**

# Sublime text
!.config/sublime-text/.gitignore

# Waybar
!.config/waybar/
!.config/waybar/**

# Yazi
!.config/yazi/
!.config/yazi/**
