//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "gruvbox-light"
//@theme "/home/franck/.config/rofi/themes/style-1.rasi"
//@theme "/home/franck/.config/rofi/themes/style-2.rasi"
//@theme "/home/franck/.config/rofi/themes/style-4.rasi"
//@theme "/home/franck/.config/rofi/themes/style-5.rasi"
//@theme "/home/franck/.config/rofi/themes/style-7.rasi"
@theme "/home/franck/.config/rofi/themes/custom-menu.rasi"
